*{
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input{
    border: none;
}
form{
    display: flex;
    flex-direction: column;
}

body{
    color:white;
}
:root{
    --contrast:rgb(29, 29, 29);
    --main:rgb(71, 71, 71);
    --background:rgb(53, 53, 53);
}

main {
    background-color:var(--background);
    width:100vw;
    height: 97vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

section {
    width: 45%;
    background-color:var(--contrast);
    height: 90%;
    border-radius:25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*///////////              TODO LIST STYLE              /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.title {
    font-weight: bold;
    font-size: 22pt;
    margin-top: 4vh;
}
.addTaskButton {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    right: 8.3vw;
    top: 9vh;
    font-size: 3em;
    cursor: pointer;
    user-select: none;
}

.tasksContainer {
    overflow-y: scroll;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 5vh;
}

.tasksContainer::-webkit-scrollbar {
    width: 0.3vw;
}

.tasksContainer::-webkit-scrollbar-track-piece:start{
    margin-top:2vh;
}

.tasksContainer::-webkit-scrollbar-track-piece:end{
    margin-bottom:2vh;
}

.tasksContainer::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 25px;
}

.taskBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main);
    border-radius: 15px;
    max-height: 50vh;
    width: 80%;
    margin: 2.5% 0;
}

.taskBox:last-of-type{
    margin-bottom: 5vh;
}

.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    padding:2.5%;
}

.checkbox{
    margin:0 8pt 0 8pt;
    font-size:x-large;
    user-select: none;
}
.deleteButton{
    justify-self: flex-end;
    font-size: x-large;
    cursor: pointer;
    user-select: none;
}

.taskText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 0 4% 0 4%;
    overflow-y: hidden;
    max-height: 40vh;
    width: 100%;
}
.taskSubtitle {
    font-size: medium;
}

.taskText::-webkit-scrollbar {
    display: none;
}
#todoTitle {
    margin-bottom: 4vh;
}
.emptyTask {
    opacity: 0.2;
    background-color: transparent;
    border: 2px dashed white;
    user-select: none;
}
.disabled {
    opacity: 0.5;
}

.newTask {
    padding: 3vh 3vw;
    width: 100%;
}

.textArea{
    background-color: var(--main);
    padding:0.3em;
    font-size: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    color:white;
    width: 95%;
    align-self: center;


}

label{
    margin:0.5em 1em;
    font-size: 1.5em;
    font-weight: 500;
}

.formButton{
    margin-top: auto;
    background-color: var(--main);
    color: rgba(255, 255, 255, 1);
    width: 90%;
    font-size: large;
    font-weight: bolder;
    height: 10vh;
    border-radius: 10px;
    align-self: center;
}
.taskDescInput{
    height: 20vh;
}

/*/////////WINDOW///////////////*/

.windowBackground{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window{
    background-color: var(--contrast);
    border-radius: 10px;
    border: 2px solid #222222;
    height: 80vh;
    width: 70vw;
    z-index: 2;
}


/*///////////////////////  TIMER  ///////////////////////////////////////////////////////////////////////////////////////*/
#pomodoroTitle {
    margin-bottom:20vh;
}

.timer {
    font-size: 6em;
    font-weight: bold;
    margin: 0 0 5vh;
}

.button {
    border: .5vh solid white;
    height: 6vh;
    width: 10vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 2vw;
}


/*////////////////////  FOOTER  /////////////////////////////////////////////////////////////////////////////////*/

footer{
    text-align: center;
    color: rgb(36, 36, 36);
    width: 100vw;
    height: 3vh;
    background-color: var(--contrast);
    display:flex;
    align-items: center;
    justify-content: center;
}
footer>svg {
    margin-left: .2vw;
}
